# code binaries
*.out
*.bin

# bioinformatics data formats
*.fq
*.fastq
*.fasta
*.faa
*.fna
*.sra
*.sam
*.bam
*.gff
*.gtf
*.ht2

# everything from ref_genome...
*/ref_genome/*

notebook/*
!notebook/docs
!notebook/scripts
!notebook/files
!notebook/README.md
!notebook/*sh
